[Unit]
Description=InfluxDB Service
After=network.target

[Service]
ExecStart=/usr/local/bin/influxd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
